@import "../../theme/colors.scss";

.border-radius {
  display: block;
  position: relative;

  width: 100vw;
  height: 100vw;
  min-width: 320px;
  min-height: 320px;
  margin-top: calc(25vh - 25vw);
  margin-left: 0;
  margin-right: 0;
  @media screen and (min-aspect-ratio: 1/1) {
    width: 100vh;
    height: 100vh;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
  }

  .box {
    position: absolute;
    display: block;
    border: 0;
    padding: 0;
    background-color: $color-text;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-out;
  }

  .sliders-width {
    position: absolute;
    top: 3px;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;

    > *:first-child {
      width: 25%;
      min-width: auto;
    }
    > *:last-child {
      width: 25%;
      min-width: auto;
    }
  }

  .sliders-height {
    position: absolute;
    top: 25%;
    left: 3px;
    height: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > *:first-child {
      height: 25% !important;
    }
    > span {
      transform: translateX(-25%) translateX(-2px) rotate(-90deg);
    }
    > *:last-child {
      height: 25% !important;
    }
  }

  .slider-top {
    position: absolute;
    top: -30%;
    min-width: auto;
  }

  .slider-bottom {
    position: absolute;
    bottom: -30%;
    min-width: auto;
  }

  .slider-left {
    position: absolute;
    height: 100% !important;
    left: -35%;
  }

  .slider-right {
    position: absolute;
    height: 100% !important;
    right: -35%;
  }
}

.css-button {
  position: fixed;
  top: 4px;
  right: 4px;
}

.border-radius-inputs {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 10px 4px;
}
