@import "../../theme/colors.scss";

.navigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 100;

  a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 1em;
    padding: 10px;
    text-align: center;
    color: $color-background;
    background-color: $color-text;
    &:hover {
      background-color: lighten($color-text, 20%);
      color: $color-background;
      text-decoration: none;
    }
  }
}
