@import "../../theme/colors.scss";
@import "../../theme/fonts.scss";

.gengo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  font-family: $font-family-serif;
  pointer-events: none;

  &-container {
    position: relative;
    width: 100vw;
    height: 39vw;
    overflow: visible;

    transition: opacity 5000ms ease-in;
    opacity: 0;
    &-started {
      opacity: 1;
    }
  }

  &-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2vw 0;
    text-align: center;
    background-color: $color-background;

    font-size: 35vw;  // overwritten by script
    line-height: 35vw;
    font-weight: bold;

    transition-property: opacity, transform, color, text-shadow;
    transition-duration: 200ms;
    transition-delay: 0ms;

    opacity: 1;
    transform:
      perspective(50vw)
      rotate3d(1, 0, 0, 0deg)
    ;

    &-flip {
      opacity: 0;
      transition-timing-function: ease-in;
      transform:
        perspective(50vw)
        translate3d(0, 0, 30vw)
      ;
    }

    &-finish {
      color: $color-accent;
      text-shadow: 0 0 20px $color-accent;

      transition-timing-function: ease-out;
      transition-duration: 20s;
      transform:
        scale(1.2, 1.2)
      ;
    }
  }

  &-year {
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    padding: 0.2em;
    opacity: 1;
    text-align: center;
    font-size: 2vw;

    transition-property: opacity, transform;
    transition-timing-function: linear;
    transition-duration: 800ms;
    transition-delay: 0ms;

    color: transparent;
    &-flip {
      color: $color-text;
      opacity: 0;
      transform:
        perspective(50vw)
        translate3d(0, -15vw, 0)
      ;
    }

    &-finish {
      color: $color-text;
    }
  }
}
